table {
    width: 100%;
    margin: 10px 0 20px 0;
}
thead th {
    padding: 10px;
    
}
tbody td {
    text-align: center;
    padding: 3px 0 3px 0;
}

.botaoProcurar {
    background: rgb(23, 96, 255);
    color: white;
    border: 1px solid white;
    padding: .7% 1%;
    border-radius: 5px;
}
.botaoProcurar:hover {
    background: white;
    color: rgb(23, 96, 255);
    border: 1px solid rgb(23, 96, 255);
    padding: 1% 1%;
    border-radius: 5px;
}
#listaDespesas button {
    padding: 1.4px 2.8px 0.2px 2.8px;
    border-radius: 5px;
    background: rgb(204, 8, 8);
    color: white;
    border: .5px solid rgb(151, 3, 3);
}